Day 1 Arrays/            
Day 2 Arrays Part-II/
Day 11 Binary Search/    
Day 3 Arrays Part-III/
Day 13 Stack and Queue/  
Day 4 Arrays Part-IV/
Day 15 Strings/          
Day 5 Linked List/
Day 16 String Part-II/   
Day 6 Linked List Part-II/
Day 17 Binary Tree/      
Day 7 Linked List and Arrays/
Day 18 Binary Tree-II/   
Day 8 Greedy Algorithm/
